.flex1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 500px;
    justify-content: space-between;
}
.flex1_item1,.flex1_item2,.flex1_item3,.flex1_item4,.flex1_item5,.flex1_item6,.flex1_item7,.flex1_item8{
   background-color: blueviolet;
   flex-grow: 1;
   flex-basis: 100px; 
}
.flex1_item1,.flex1_item2,.flex1_item4,.flex1_item5,.flex1_item7,.flex1_item8{
    flex-shrink: 1;
}
.flex1_item3,.flex1_item6{
    flex-shrink: 2;
}
.flex2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 500px;
    height: 600px;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
}
.flex2_item1,.flex2_item2{
   background-color: brown;
   min-height: 100px;
   flex-basis: 200px;
   align-content: center;
}
.flex2_item3,.flex2_item4{
   background-color: coral;
   min-height: 100px;
   flex-basis: 200px;
}
.flex2_item5,.flex2_item6{
   background-color: crimson;
   min-height: 100px;
   flex-basis: 200px;
}
.flex2_item3{
    align-self:auto;
    order: -1;
}